:root {
  --dark-purple: #3c096c;
  --purple: #5a189a;
  --light-purple: #9d4edd;
  --yellow: #ffc880;
  --orange: #ff9100;
}

h1,
h2,
h3 {
  font-family: "Tangerine";
  font-style: normal;
  width: fit-content;
  text-shadow: #fc0 1px 0 10px;
  word-spacing: 0.5ch;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

section {
  padding: 3rem;
  color: var(--yellow);
}

section,
p {
  font-family: "Mada";
  font-style: normal;
  font-size: 1.5rem;
  text-shadow: #fc0 1px 0 10px;
}

div {
  font-family: "Mada";
  font-style: normal;
  font-size: 1.5rem;
}

button {
  transition: all 0.4s;
  width: fit-content;
  padding: 1rem;
  background-color: var(--dark-purple);
  color: var(--yellow);
  border-color: var(--yellow);
}

button:hover,
button:active {
  background-color: #ffc880;
  border-color: var(--dark-purple);
  color: var(--dark-purple);
}

a {
  color: var(--orange);
}

a:visited {
  color: var(--yellow);
}

a:hover {
  color: var(--light-purple);
}
